a {
    color:#F1F8F2;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    color: #DFDFD7;
    background-color: #262626;
    height: 150px;
    font-size: 20px;
    font-weight: bolder;
}
.nav-content ul li {
    display: inline-block;
    margin: 0px 15px
}
.nav-logo {
    font-family: cursive;
    font-size: 35px;
}
