* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.head-content h1,  .main-end h2, .bot {
    margin-bottom: 30px;
}
 /* HEAD */
.head {
    position: relative;
    color: #f7fcec;
    
    min-height: 500px;
    z-index: 1;
}
.background-img {
    position: absolute;
    background: url(/images/code.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    z-index: -1;
}
.background-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(32, 30, 30, 0.6);
}
.head-content {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-content p {
    margin: 0px 250px;
}
/* head-button */
.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid grey;
    background: rgb(37, 35, 35);
    padding: 15px 25px;
    margin-top: 20px;
}
.btn:hover {
    color: black;
    background: #EAEAEA;
    transition-property: color, background-color ;
    transition-delay: 0.1s;
}
/* MAIN */
.main-start {
    display: flex;
    color: #333333;
    height: 200px;
    background: #EAEAEA;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-start p {
    margin: 20px 500px;
}
/* main-body */
.main-body {
    display: flex;
    color: #333333;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #333333;
    height: 600px;   
}
.box {
    background: #FFFFFF;
    width: 250px;
    height: 500px;
    text-align: center;
    margin-top: 50px;
}
.box h2 {
    font-size: 20px;
    margin: 30px
}
.box:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}
.box-img {
    width: 100%;
    height: 40%;
}
/* main-end */
.main-end {
    display: flex;
    color: #333333;
    height: 250px;
    background: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main-foot */
.main-foot {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.section-1, .section-2 {
    display: flex;
    color: white;
    height: 300px;
    width: 60em;
    background: #884EA0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2 {
    background: #333333; 
}
.section-content {
    margin: 0px 20px
}
.section-2 .section-head {
    margin-bottom: 40px;
}
.oq {
    margin-top: 30px;
}
.op {
   margin-bottom: 30px;
}
/* footer */
footer {
    display: flex;
    color:white;
    height: 80px;
    background: black;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}