* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.head {
    position: relative;
    color: #f7fcec;
    
    min-height: 500px;
    z-index: 1;
}
.background-img {
    position: absolute;
    background: url(/images/code.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    z-index: -1;
}
.background-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
}
.head-content {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-content h1 {
    margin-bottom: 20px;
}
.head-content p {
    margin: 0px 250px;
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid grey;
    background: rgb(37, 35, 35);
    padding: 15px 25px;
    margin-top: 20px;
}
.btn:hover {
    color: black;
    background: #EAEAEA;
    transition-property: color, background-color ;
    transition-delay: 0.1s;
}
.main-start {
    display: flex;
    color: #333333;
    height: 200px;
    background: #EAEAEA;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-start p {
    margin: 20px 500px;
}
.main-body {
    display: flex;
    color: #333333;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #333333;
    height: 600px;   
}
.box {
    background: #FFFFFF;
    width: 250px;
    height: 500px;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 37px;
}
.box h2 {
    font-size: 20px;
    margin: 30px
}
.box:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}
.box-img {
    width: 100%;
    height: 40%;
}
