a {
    color:#F1F8F2;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    color: #DFDFD7;
    background-color: #262626;
    font-size: 20px;
    font-weight: bolder;
}
.nav-content ul li {
    display: inline-block;
    margin: 0px 15px
}
.nav-logo {
    font-family: cursive;
    font-size: 35px;
}
.nav-btn {
    border: 1px solid;
    padding: 20px 30px;
}
@media (max-width:1000px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-content ul {
        padding: 25px 0px;
    }
    .nav-content ul li {
        margin: 0px 45px 10px 0px;
        padding: 0 5px;
    }
}
@media (max-width: 700px) {
    .nav-logo {
        margin-top: 0;
    }
    nav {
        padding: 30px;
    }
}